<div class="container shadow p-3 mb-5 bg-white rounded mt-5">
    <h2 class="text-center">Evidencija održane nastave</h2><br>
  
    <form *ngIf="this.record != undefined" #form="ngForm" (submit)="onSubmit(form)">

        <input type="hidden" #id="ngModel" [(ngModel)]="formModel.id" name="id">

        <div *ngIf="userService.roleMatch('admin')">
          
          <div class="form-group">
            <label for="subject">Katedra</label>
            <select class="form-control" id="subjectID" [(ngModel)]="departmentId" name="department" (change)="getLecturersByDepId(); getSubjectsbyDepId();">
              <option disabled value="0">Izaberi katedru</option>
              <option *ngFor="let department of allDepartments" value="{{department.id}}">{{ department.name }}</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="subject">Predavač</label>
            <select class="form-control" aria-describedby="lecturerHelp" [(ngModel)]="formModel.lecturerID" name="lecturerID" id="lecturerID" [disabled]="!selectLecturer">
              <option disabled value="0">Izaberi predavača</option>
              <option *ngFor="let lecturer of allLecturersByDepId" value="{{lecturer.id}}">{{ lecturer.name + ' ' + lecturer.surname }}</option>
              <option value="noLecturer" disabled [hidden]="isEmptyLecturer == true">Nema profesora/asistenta na izabranoj katedri</option>
            </select>
          </div>

        </div>

        <div *ngIf="!userService.roleMatch('admin')">

          <div class="form-group">
            <table class="table">
              <tr>
                <td>Katedra:</td>
                <td><strong>{{ user.departmentName }}</strong> </td>
              </tr>
              <tr>
                <td>Predavač:</td>
                <td><strong>{{ user.fullName }}</strong></td>
                <input type="hidden" #lecturerID="ngModel" [(ngModel)]="formModel.lecturerID" name="lecturerID">
              </tr>
            </table>
          </div>

          
    
        </div>

        <div class="form-group">
          <label for="subject">Predmet</label>
          <select class="form-control" aria-describedby="subjectHelp" #subjectID="ngModel" [(ngModel)]="formModel.subjectID" name="subjectID" id="subjectID" [disabled]="isEmptySubject == false">
            <option disabled value="0">Izaberi predment</option>
            <option *ngFor="let subject of allSubjectsbyDepId" value="{{subject.id}}">{{ subject.name }}</option>
            <option value="1234567890" [hidden]="isEmptySubject == true">Nema predmeta na ovoj katedri</option>
          </select>
        </div>
        

        <!--<div class="form-group">
            <label>Katedra:</label>
            <select class="form-control">
              <option selected disabled>{{ this.record.departmentName }}</option>
            </select>
        </div>

        <div class="form-group">
          <label for="subject">Predavač:</label>
          <select class="form-control" #lecturerID="ngModel" [(ngModel)]="formModel.lecturerID" name="lecturerID">
            <option disabled value="0">Izaberi predavača</option>
            <option *ngFor="let lecturer of allLecturers" value="{{lecturer.id}}">{{ lecturer.name + ' ' + lecturer.surname }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="subject">Predmet</label>
          <select class="form-control" aria-describedby="subjectHelp" #subjectID="ngModel" [(ngModel)]="formModel.subjectID" name="subjectID" id="subjectID">
            <option disabled value="0">Izaberi predment</option>
            <option *ngFor="let subject of allSubjects" value="{{subject.id}}">{{ subject.name }}</option>
          </select>
          
        </div>

      -->
  
        <div class="form-group">
          <label for="classroom">Učionica</label>
          <select class="form-control" aria-describedby="classroomHelp" #classroomID="ngModel" [(ngModel)]="formModel.classroomID" name="classroomID" id="classroom">
            <option disabled value="0">Izaberi učionicu</option>
            <option *ngFor="let classroom of allClassrooms" value="{{classroom.id}}">{{ classroom.number }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="numOfClasses">Broj časova</label>
          <select class="form-control" aria-describedby="numOfClassesHelp" #numberOfClasses="ngModel" [(ngModel)]="formModel.numberOfClasses" name="numberOfClasses" id="numOfClasses" [disabled]="isChecked == false">
            <option value="0" disabled>Izaberi broj časova</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" disabled [hidden]="isChecked == true">Nije održana nastava</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Tip održavanja</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" #type="ngModel" [(ngModel)]="formModel.type" name="type" id="radioLectures" value="Predavanja" checked>
            <label class="form-check-label" for="radioLectures">
              Predavanja
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" #type="ngModel" [(ngModel)]="formModel.type" name="type" id="radioExercises" value="Vezbe">
            <label class="form-check-label" for="radioExercises">
              Vežbe
            </label>
          </div>
        </div>
  
        <div class="form-group">
          <label for="date">Datum</label>
          <input class="form-control" type="text" aria-describedby="dateHelp" #date="ngModel" [(ngModel)]="formModel.date" name="date" id="date" bsDatepicker>
          <div class="alert alert-danger" *ngIf="!date.value && date.touched">Ovo polje je obavezno!</div>
        </div>
  
        <div class="form-group">
          <label for="time">Vreme</label>
          <timepicker [(ngModel)]="formModel.time" [showMeridian]="false" #time="ngModel" [ngModelOptions]="{standalone: true}" name="time" id="time"></timepicker>
          <div class="alert alert-danger" *ngIf="!time.value">Ovo polje je obavezno!</div>
        </div>
  
        <div class="form-group">
          <div class="form-check">
            <input  type="checkbox" #maintained="ngModel" [(ngModel)]="isChecked" name="maintained" class="form-check-input" id="checkMaintained" (click)="this.numOfClassesDefault()">
            <label class="form-check-label"  for="checkMaintained">Održan</label>
          </div>
        </div>
  
        <div class="form-group">
          <label for="comment">Komentar</label>
          <textarea [required]="isChecked == false" minlength="3" class="form-control" id="comment" aria-describedby="commentHelp" #comment="ngModel" [(ngModel)]="formModel.comment" name="comment" rows="3"></textarea>
          <div class="alert alert-danger" *ngIf="!comment.valid && comment.touched && !isChecked">Komentar mora sadržati najmanje 3 karaktera !</div>
          <small id="comment" class="form-text text-muted">Ako nastava nije održana komentar je obavezan !</small>
        </div>
      
        <button id="dugme"
                type="submit"
                class="btn btn-success"
                [disabled]="!date.value || !time.value || !subjectID.value || !classroomID.value || !numberOfClasses.value || !comment.valid && !this.isChecked">
                Evidentiraj
        </button>
  
    </form>
  
  </div>
  
  
  
  
  