<div class="body">
    <div class="wrapper">
        <div class="wrapped-div">
            <div class="tab-header">
                <h2 routerLink="/user/login" routerLinkActive="active">Prijava</h2>
                <!--<h2 routerLink="/user/registration" routerLinkActive="active">Registracija</h2> -->
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
