<div class="container shadow p-3 mb-5 bg-white rounded mt-5">
    <h2 class="text-center">Izveštaj</h2><br>

    <div *ngIf="!userService.roleMatch('admin')">
        <ul class="list-group">
            <li class="list-group-item">Ukupan broj održanih časova: <span style="color: #30E07B;">{{ this.maintainedClasses }}</span></li>
            <li class="list-group-item">Ukupan broj neodržanih termina: <span style="color: #9B2335">{{ this.notMaintainedClasses }}</span></li>
            <li class="list-group-item">Ukupan broj održanih časova ovog meseca: <span style="color: #30E07B;">{{ this.maintainedClassesMonth }}</span></li>
            <li class="list-group-item">Ukupan broj neodržanih termina ovog meseca: <span style="color: #9B2335">{{ this.notMaintainedClassesMonth }}</span></li>
          </ul>
    </div>

    <div *ngIf="userService.roleMatch('admin') && isLoaded">

        <div id="export">
            <ul class="list-group">
                <li class="list-group-item">Ukupan broj održanih časova: <span style="color: #30E07B;">{{ this.maintainedClasses }}</span></li>
                <li class="list-group-item">Ukupan broj neodržanih termina: <span style="color: #9B2335">{{ this.notMaintainedClasses }}</span></li>
                <li class="list-group-item">Ukupan broj održanih časova ovog meseca: <span style="color: #5B5EA6">{{ this.maintainedClassesMonth }}</span></li>
                <li class="list-group-item">Ukupan broj neodržanih termina ovog meseca: <span style="color: #E75691">{{ this.notMaintainedClassesMonth }}</span></li>
              </ul>
              

            <div class="row justify-content-md-center mt-5 chart">
                <ngx-charts-bar-vertical
                  [results]="chartArray"
                  [view]=[750,250]
                  [scheme]="{ domain: [ '#30E07B', '#9B2335', '#5B5EA6', '#E75691' ] }"
                  [barPadding]="10"
                  [gradient]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="true"
                  [legendTitle]="'Legenda'"
                  [showDataLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

        <button type="button" class="btn btn-danger mt-2" (click)="this.export()">
            <i class="fa fa-download" aria-hidden="true"></i> Preuzeti izveštaj
        </button>
    
        <div class="row justify-content-md-center mt-5">
            <div class="col-xl-3 col-md-4">
                <div class="form-group">
                    <label>Izaberite predavača</label>
                    <ng-select [items]="allLecturers"
                               bindLabel="fullName"
                               bindValue="id"
                               [clearable]="false"
                               (change)="getRecordsByLecturerId()"
                               [(ngModel)]="searchLecturer">
                    </ng-select>
                  </div>
            </div>
        </div>
    
        <div>
            <ul id="exportLecturer" class="list-group">
                <li class="list-group-item">Ukupan broj održanih časova: <span class="text-success">{{ this.maintainedClassesLecturer }}</span></li>
                <li class="list-group-item">Ukupan broj neodržanih termina: <span class="text-danger">{{ this.notMaintainedClassesLecturer }}</span></li>
                <li class="list-group-item">Ukupan broj održanih časova ovog meseca: <span class="text-success">{{ this.maintainedClassesMonthLecturer }}</span></li>
                <li class="list-group-item">Ukupan broj neodržanih termina ovog meseca: <span class="text-danger">{{ this.notMaintainedClassesMonthLecturer }}</span></li>
              </ul>
        </div>
        <!--   
        <button type="button" class="btn btn-danger mt-2" (click)="this.exportLecturer()">
            <i class="fa fa-download" aria-hidden="true"></i> Preuzeti izveštaj
        </button>
        -->    
        
    </div>


  
    
  
  </div>

  
  
  
  
  