<!-- Sidebar -->
<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="sidebar-heading text-light font-weight-bold">Evidencija nastave</div>
  <div class="list-group list-group-flush">
    <a routerLink="/dashboard/home" routerLinkActive="routerLinkActive" href="#" class="list-group-item list-group-item-action text-light bg-dark">Početna</a>
    <a routerLink="/dashboard/records" routerLinkActive="routerLinkActive" href="#" class="list-group-item list-group-item-action text-light bg-dark">Evidencija</a>
    <a  routerLink="/dashboard/report" routerLinkActive="routerLinkActive" href="#" class="list-group-item list-group-item-action text-light bg-dark">Izveštaj</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->
