<div class="container text-light">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
            <label>Ime</label>
            <input type="text" class="form-control" formControlName="Name">
            <label class="text-danger" *ngIf="service.formModel.get('Name').touched && service.formModel.get('Name').errors?.required">Ovo polje je obavezno</label>
        </div>
        <div class="form-group required">
            <label>Prezime</label>
            <input type="text" class="form-control" formControlName="Surname">
            <label class="text-danger" *ngIf="service.formModel.get('Surname').touched && service.formModel.get('Surname').errors?.required">Ovo polje je obavezno</label>
        </div>
        <div class="form-group required">
            <label>Korisničko ime</label>
            <input type="text" class="form-control" formControlName="Username">
            <label class="text-danger" *ngIf="service.formModel.get('Username').touched && service.formModel.get('Username').errors?.required">Ovo polje je obavezno</label>
        </div>
        <div formGroupName="Passwords">
            <div class="form-group required">
                <label>Lozinka</label>
                <input type="password" class="form-control" formControlName="Password">
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Ovo polje je obavezno</label>
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Sifra mora sadržati najmanje 8 karaktera</label>
            </div>
            <div class="form-group required">
                <label>Potvrdi lozinku</label>
                <input type="password" class="form-control" formControlName="ConfirmPassword">
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Ovo polje je obavezno</label>
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Potvrda lozinke se ne poklapa</label>
            </div>
        </div>
        <div class="form-group required">
            <label>Katedra</label>
            <select class="form-control" formControlName="Department">
                <option *ngFor="let department of allDepartments" value="{{department.id}}">{{ department.name }}</option>
            </select>
            <label class="text-danger" *ngIf="service.formModel.get('Department').touched && service.formModel.get('Department').errors?.required">Ovo polje je obavezno</label>
        </div>
        <div class="form-group required">
            <label>Status</label>
            <select class="form-control" formControlName="Status">
                <option value="Profesor">Profesor</option>
                <option value="Asistent">Asistent</option>
            </select>
            <label class="text-danger" *ngIf="service.formModel.get('Status').touched && service.formModel.get('Status').errors?.required">Ovo polje je obavezno</label>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary rounded-pill pl-5 pr-5 pt-2 pb-2" [disabled]="!service.formModel.valid">Registruj se</button>
        </div>
    
    </form>
</div>