<div class="d-flex bg-light" id="wrapper">
    <app-sidebar></app-sidebar>
    <div style="width: 100vw;">
        <app-header></app-header>
        <div>
            <router-outlet></router-outlet>
        </div>
        <!--<app-footer></app-footer>-->
    </div>
</div>