body {
    overflow-x: hidden;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }