<form #form="ngForm" class="container text-light" (submit)="onSubmit(form)">
    <div class="text-center mt-2">
        <img src="../../../assets/img/FTNlogo.png" alt="">
    </div>
    <div class="form-group">
        <label for="username">Korisničko ime</label>
        <input type="text" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" class="form-control" id="username" required>
    </div>
    <div class="form-group">
        <label for="password">Lozinka</label>
        <input type="password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" class="form-control" id="password" required>
    </div>
    <div class="form-group text-center">
        <button [disabled]="form.invalid" type="submit" class="btn btn-success rounded-pill pl-5 pr-5 pt-2 pb-2">Prijavi se</button>
    </div>
    
</form> 