#navbar {
    min-width: 100vw;
}
#userlogo {
    width: 40px;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.profile {
  cursor: pointer;
}
.expand {
  position: absolute;
  top: 57px;
  right: 0;
  display: inline-block;
  background-color: #eeeded;
  width: 200px;
  border: none;
  z-index: 1;
}
.expand li {
  list-style-type: none;
}
.expand li:hover {
  background-color: #e2e2e2;
}
.expand li:nth-child(2):hover {
  color: rgb(151, 3, 3);
}
@media (min-width: 768px) {

  #navbar {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}