  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button> 
    <div (click)="toggle()" class="ml-auto profile">
        <img id="userlogo" class="rounded" src="../../../assets/img/userLogo.png" alt="">
        <span class="align-middle ml-2 text-decoration-none text-dark">{{ user.fullName }}</span>
        <div *ngIf="expand == true" class="expand">
          <ul class="list-group">
            <!--<li class="list-group-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Izmeni profil</li>-->
            <li class="list-group-item" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Odjava</li>
          </ul>
        </div>
    </div>
  </nav>


