<button class="btn btn-lg btn-outline-info ml-4 mt-4 mb-2" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" width="48px">
  <img src="../../assets/img/filterIcon.png" width="24px">
</button>
<div class="collapse" id="collapseExample">
  <div class="row m-2">
    <div class="col-xl-3 col-md-4">
  
      <!--
      <div class="form-group" *ngIf="userService.roleMatch('admin')">
        <select class="form-control" [(ngModel)]="searchDepartment">
          <option selected value="">Sve katedre</option>
          <option *ngFor="let department of allDepartments" value="{{department.name}}">{{ department.name }}</option>
        </select>
      </div>-->

      <div class="form-group" *ngIf="userService.roleMatch('admin')">
        <label>Katedre</label>
        <ng-select [items]="allDepartments"
                   bindLabel="name"
                   bindValue="name"
                   (clear)="clearDropdownDepartment()"
                   [(ngModel)]="searchDepartment">
        </ng-select>
      </div> 

      <!--<div class="form-group">
        <select class="form-control" [(ngModel)]="searchSubject">
          <option selected value="">Svi predmeti</option>
          <option *ngFor="let subject of allSubjects" value="{{subject.name}}">{{ subject.name }}</option>
        </select>
      </div>-->

      

      <div class="form-group">
        <label>Predmeti</label>
        <ng-select [items]="allSubjects"
                   bindLabel="name"
                   bindValue="name"
                   (clear)="clearDropdownSubject()"
                   [(ngModel)]="searchSubject">
        </ng-select>
      </div>
      
  
      <!--<div class="form-group">
        <select class="form-control" [(ngModel)]="searchClassroom">
          <option selected value="">Sve učionice</option>
          <option *ngFor="let classroom of allClassrooms" value="{{classroom.number}}">{{ classroom.number }}</option>
        </select>
      </div>
      
    </div>-->

      <div class="form-group">
        <label>Učionice</label>
        <ng-select [items]="allClassrooms"
                   bindLabel="number"
                   bindValue="number"
                   (clear)="clearDropdownClassroom()"
                   [(ngModel)]="searchClassroom">
        </ng-select>
      </div>


    </div>
  
    <div class="col-xl-3 col-md-4">

      
  
      <!--<div class="form-group" *ngIf="userService.roleMatch('admin')">
        <select class="form-control" [(ngModel)]="searchLecturer">
          <option selected value="">Svi predavači</option>
          <option *ngFor="let lecturer of allLecturers" value="{{lecturer.fullName}}">{{ lecturer.fullName}}</option>
        </select>
      </div>-->

      <div class="form-group" *ngIf="userService.roleMatch('admin')">
        <label>Predavači</label>
        <ng-select [items]="allLecturers"
                   bindLabel="fullName"
                   bindValue="fullName"
                   (clear)="clearDropdownLecturer()"
                   [(ngModel)]="searchLecturer">
        </ng-select>
      </div>
  
      <!--<div class="form-group">
        <select class="form-control" [(ngModel)]="searchNumber">
          <option selected value="">Svi brojevi časova</option>
          <option value="0">Neodržani časovi</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>-->


      <!---->
      <div class="form-group">
        <label>Broj časova</label>
        <ng-select [items]="allNumberOfClasses"
                   bindLabel="number"
                   bindValue="value"
                   (clear)="clearDropdownNumberOfClasses()"
                   [(ngModel)]="searchNumber">
        </ng-select>
      </div>
  
      <!--<div class="form-group">
        <select class="form-control" [(ngModel)]="searchType">
          <option selected value="">Svi tipovi predavanja</option>
          <option>Predavanja</option>
          <option value="Vezbe">Vežbe</option>
        </select>
      </div>-->

      <div class="form-group">
        <label>Tip održavanja</label>
        <ng-select [items]="allTypesOfMaintaining"
                   bindLabel="type"
                   bindValue="value"
                   (clear)="clearDropdownType()"
                   [(ngModel)]="searchType">
        </ng-select>
      </div>
  
    </div>
  
   </div>

   <span id="resetFilter" class="text-danger ml-4" (click)="resetFilter()" [hidden]="showResetFilter()">✖ Resetuj sve filtere</span>
   
</div>




<div class="table-responsive pl-3 pb-3 pr-3">
  <table class="table table-striped text-center mt-3 mb-2 mx-auto">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Br.</th>
        <th *ngIf="userService.roleMatch('admin')" scope="col" (click)="setOrder('departmentName', $event)">Katedra</th>
        <th *ngIf="userService.roleMatch('admin')" scope="col" (click)="setOrder('lecturerFullname', $event)">Predavač</th>
        <th scope="col" (click)="setOrder('subjectName', $event)">Predmet</th>
        <th scope="col" (click)="setOrder('classroomNumber', $event)">Učionica</th>
        <th scope="col" (click)="setOrder('numberOfClasses', $event)">Broj časova</th>
        <th scope="col" (click)="setOrder('type', $event)">Tip održavanja</th>
        <th scope="col" (click)="setOrder('date', $event)">Datum</th>
        <th scope="col" (click)="setOrder('time', $event)">Vreme</th>
        <th scope="col" (click)="setOrder('maintained', $event)">Održan</th>
        <th scope="col" id="thComment">Komentar</th>
        <th scope="col" id="thComment">Izmeni</th>
        <th scope="col" id="thComment">Obriši</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let record of records | 
      recordsFilter:searchSubject:searchClassroom:searchNumber:searchType:searchLecturer:searchDepartment | 
      orderBy: order:reverse | 
      slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i = index">
        <td>{{ showNumber(ordinal, i) }}</td>
        <td *ngIf="userService.roleMatch('admin')">{{ record.departmentName }}</td>
        <td *ngIf="userService.roleMatch('admin')">{{ record.lecturerFullname }}</td>
        <td>{{ record.subjectName }}</td>
        <td>{{ record.classroomNumber }}</td>
        <td *ngIf="record.numberOfClasses != 0">{{ record.numberOfClasses }}</td>
        <td *ngIf="record.numberOfClasses == 0">/</td>
        <td>{{ record.type }}</td>
        <td>{{ record.date }}</td>
        <td>{{ record.time }}h</td>
        <td>{{ maintained(record.maintained) }}</td>
        <td *ngIf="record.comment != ''"><div class="comment"><div>{{ record.comment }}</div></div> </td>
        <td *ngIf="record.comment == ''"><div class="comment"><div>/</div></div> </td>
        <td><a [routerLink]="['/dashboard/records', record.id]"><img src="../../assets/img/editIcon.png" width="24px"></a></td>
        <td><a (click)="open(content, record.id)"><img src="../../assets/img/deleteIcon.png" width="24px"></a></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="records.length > 10" class="d-flex justify-content-center">
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged($event)" [collectionSize]="records.length"></ngb-pagination>
</div>

  
<div class="text-center" *ngIf="!this.isLoaded">
  <div  class="lds-dual-ring"></div>
</div>

<h4 *ngIf="records.length == 0 && this.isLoaded" class="text-center">Nema evidencije o odrzanim casovima</h4>



<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="modal-title" id="modal-basic-title">Da li ste sigurni da želite da obrišete ovu evidenciju?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteRecordById();modal.close()">Obriši</button>
  </div>
</ng-template>

